#
#
#
#
# Duplicate snippets here in ../Ultisnips/all.snippets using Ultisnips format
#
snippet modeline "Add my foldmarker and tab modeline"
	vim: set tw=78 ts=${1:4} sw=&ts
	vim: foldmethod=marker foldmarker={[},{]}
#
#
#
#
#
